@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0%, 100%;
  --background: 225 18%, 96%;
  --object: 225, 0%, 100%;
  --accent: 210, 50%, 50%;
  @media (prefers-color-scheme: dark) {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
    --object: 0, 0, 0;
    --accent: 210, 50%, 50%;
  }
}

body {
  background: black;
  color: black;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
