@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0%, 100%;
  --background: 225 18%, 96%;
  --object: 225, 0%, 100%;
  --accent: 210, 50%, 50%;
  @media (prefers-color-scheme: dark) {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
    --object: 0, 0, 0;
    --accent: 210, 50%, 50%;
  }
}

* {
  font-family: "Manrope", sans-serif;
  user-select: none;
}

.font-branding {
  font-family: "Playfair", serif;
}

body {
  background: black;
  color: black;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

input {
  @apply transition bg-element dark:bg-element-dark p-3 focus-within:shadow-xl rounded-xl;
}

a {
  @apply font-bold text-accent hover:underline;
}

input[type="checkbox"] {
  @apply rounded-full;
}
