.base {
  width: 320px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.logo {
  width: 100%;
  height: 128px;
  padding: 32px;
  display: grid;
  align-content: center;
}

.center_logo {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .base {
    height: 128px;
    width: 100%;
  }
}
