.base {
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 32px;
}

@media screen and (max-width: 992px) {
  .base {
    height: 120px;
    width: 100%;
  }
}
