* {
  // --bezier-curve: cubic-bezier(0.62, 0, 1, 0.99);
  --bezier-curve: cubic-bezier(0, 0.34, 1, 0.99);
}

.transition-slideIn-right {
  animation: animation-slideIn-right 0.3s ease-out forwards;

  @keyframes animation-slideIn-right {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.transition-fadeSlideIn-right {
  animation: animation-fadeSlideIn-right 0.3s ease-out forwards;

  @keyframes animation-fadeSlideIn-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.transition-screenSlideIn-bottom {
  animation: animation-screenSlideIn-bottom 0.3s ease-out forwards;

  @keyframes animation-screenSlideIn-bottom {
    0% {
      transform: translateY(100vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.transition-zoomIn {
  animation: animation-zoomIn 0.3s --var(--bezier-curve) forwards;

  @keyframes animation-zoomIn {
    0% {
      scale: 0.8;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
}

.transition-zoomOut {
  animation: animation-zoomOut 0.3s ease-out forwards;

  @keyframes animation-zoomOut {
    0% {
      scale: 1.2;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
}
