.styling {
  background-color: #e3e4e5;
  /* background-color: #ff0000; */
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
}
