.base {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.title {
  font-size: 18px;
  height: 100%;
  padding: 8px;
  font-weight: medium;
}
