@import "tailwindcss";

*,
.font-base {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-branding {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

hr {
  color: #0002;
}
