@import "tailwindcss";

:root {
  color-scheme: light dark;
}

* {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

body {
  background: black;
  display: flex;
  align-items: stretch;
  height: 100dvh;
  width: 100dvw;
}

main {
  background-color: light-dark(#fafcff, #000000);
  color: light-dark(#222326, #ffffff);
  margin: 0;
  padding: 0;
}

.font-heading {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}
